# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

tools/hello.build
tools/myprog.build
tools/hello
tools/myprog
*~
tools/src/build
fivm/lib/targets/*
fivm/target/*
fivm/test/java/build/*
fivm/runtimej/build/*
fivm/lib/targets/*
fivm/config.log/*
fivm/bottomup/generated/*
fivm/lib/ctypes-64.conf

fivm/atlassian-ide-plugin.xml
fivm/autom4te.cache/output.2
fivm/autom4te.cache/output.3
fivm/autom4te.cache/traces.2
fivm/autom4te.cache/traces.3
fivm/lib/cmr-biased-ctypes.tmp.build/
fivm/lib/hf-pip-ctypes.tmp
fivm/lib/hf-pip-ctypes.tmp.build/
fivm/lib/hfa-ctypes.tmp.build/
fivm/scj/oSCJ/scj/ri/build/
fivm/test/c/mvm/autom4te.cache/output.1
fivm/test/c/mvm/autom4te.cache/traces.1

fivm/testmake/.hg/dirstate
fivm/scj/.hg/dirstate

fivm/lib/bottomup.jar
fivm/lib/cmr-biased-ctypes.tmp
fivm/lib/ctypes-32.conf
fivm/lib/fiji-asm.jar
fivm/lib/fijicore.jar
fivm/lib/fijirt.jar
fivm/lib/fijiscj.jar
fivm/lib/fivmc.jar
fivm/lib/fivmc_def_config.h
fivm/lib/fivmcommon.jar
fivm/lib/fivmr.jar
fivm/lib/fivmr_asm_defs.h
fivm/lib/fivmr_target.h
fivm/lib/fivmrunner.jar
fivm/lib/fivmtest.jar
fivm/lib/fivmutil.jar
fivm/lib/hardrtj.jar
fivm/lib/hfa-ctypes.tmp
fivm/lib/rtsj.jar
fivm/lib/scj.jar

fivm/.numberOfProcessors
fivm/RealMakefile
fivm/autom4te.cache/requests
fivm/config.log
fivm/config.status
fivm/depend.mk
fivm/scj/oSCJ/scj/ri/config.log
fivm/scj/oSCJ/scj/ri/depend.mk
fivm/scj/oSCJ/scj/ri/scj.jar
fivm/target/config.log
fivm/target/config.status
fivm/target/debug/Makefile
fivm/target/fivmc_def_config.h
fivm/target/fivmcrc
fivm/target/fivmr_asm_defs.h
fivm/target/fivmr_target.h
fivm/target/opt/Makefile
fivm/target/small/Makefile
fivm/target/target-results.conf
fivm/target/target.conf
fivm/test/c/mvm/autom4te.cache/requests
fivm/test/java/build/jasmin.log
fivm/testmake/config.log
fivm/testmake/config.status
fivm/util/c/getNumProcs/getNumProcs
tools/src/build/test1/Fib.class


