# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

tools/hello.build
tools/myprog.build
tools/hello
tools/myprog
*~
tools/src/build
fivm/lib/targets/*
fivm/target/*
fivm/test/java/build/*
fivm/runtimej/build/*
fivm/lib/targets/*
fivm/config.log/*
fivm/bottomup/generated/*
fivm/lib/ctypes-64.conf

fivm/atlassian-ide-plugin.xml
fivm/autom4te.cache/output.2
fivm/autom4te.cache/output.3
fivm/autom4te.cache/traces.2
fivm/autom4te.cache/traces.3
fivm/lib/cmr-biased-ctypes.tmp.build/
fivm/lib/hf-pip-ctypes.tmp
fivm/lib/hf-pip-ctypes.tmp.build/
fivm/lib/hfa-ctypes.tmp.build/
fivm/scj/oSCJ/scj/ri/build/
fivm/test/c/mvm/autom4te.cache/output.1
fivm/test/c/mvm/autom4te.cache/traces.1
